#!/usr/bin/make -f

%:
	dh $@ $(DH_FLAGS)

DH_FLAGS = --parallel --buildsystem=cmake

override_dh_installdocs:
	dh_installdocs --link-doc=libiniparser0
	dh_installdocs -plibiniparser-doc

override_dh_strip:
	dh_strip --dbg-package=libiniparser0-dbg
